* {
  margin: 0;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
  width: 82%;
  max-width: 1600px;
  margin: 16px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  width: 365px;
  color: black;
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0 auto;
  font-weight: 500;
  
} 

/*early acess*/
.btn0 {
  color: white;
  font-size: 16px;
  width: 204px;
  background-color: #30B868;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  
}


/*early acess*/
.btn1 {
  color: #0e7037;
  font-size: 16px;
  width: 229px;
  height: 35px;
  padding: 8px 12px;
  border-radius: 25px;  
  border: none;
  margin: 120px 0 auto;
  
}

.btn2 {
  color: white;
  background-color: #30B868;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
}

.btn3 {
  color: white;
  background-color:transparent;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid white;
}



#banner .banner-content {
 height: 673px;
 
 margin: 0 , 0, auto;
 align-items: center;
 text-align: center;
 background-image: url(../assets/hero-bg.png);
 background-size:auto;

}

#banner .note1 {
  color: white  ;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
}

#banner .note2 {
  color: rgb(53, 166, 53)  ;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;

}

#banner .details {
  color: white;
  margin: 16px 0 32px;
}



#note .note-container {
  width: 85%;
  justify-content: center;
  margin: 0 auto;
}

#note .note-headline h1{
  color: black;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
  margin-bottom: auto;
}

#note .note-headline p{
  color:grey;
  font-size: 16px;
  text-align: center;
  margin-top: auto;
}

#note .note-box {
  display: flex;
  margin: 0 auto;
  justify-content:center;
  gap: 24px;
  padding: 44px;
}

.box-item {
  width: 240px;
  border: 1px solid black;
  box-shadow: 0 5px 50px 0px rgba(0, 0, 0, 0.534);
  gap: 24px;
  padding: 24px;
}

 .note-box .box-item h3{
  font-size: 24px;
}

 .note-box .box-item p{
  color: grey;
  font-size: 16px;

}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(246, 86, 86);
  margin: 69px 131px;
}

#brain .brain-container {
  max-width: 82%;
  display: flex;
  gap: 60px;
  margin: 0 auto;
  justify-content: center;
}

.brianimg {
  height:600px;
  width: 600px;
}

#brain {
  margin-top: 120px;
}

.brain-details {
  height: 400px;
  width: 400px;
}

.brain-details p{
  margin-top: 102px;
}

.brain-details h2{
  font-size: 38px;
  margin: 16px 0;
}

.brain-details .info{
  color: grey;
  font-size: 16px;
  
}

.brain-details .points{
  gap: 6px;
}

.check {
  width: 600;
  height: 600;
}

.tick {
  height: 30px;
  width: 30px;
}

#access {
  margin-top: 120px;

}

.access-container {
  text-align: center;
  background-color:rgba(187, 189, 175, 0.276);
  width: 82%;
  display: flex;
  justify-content: center;
  margin: 0 auto;


}

#access .access-info h2{
  font-size: 40px;
}

.access-info .txt1{
  color: grey;
  font-size: 16px;
  margin-bottom: 24px;
  
}

.access-info .txt2{
  color: grey;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 80px;
  
}

.access-info{
  margin-top: 80px;
  margin-bottom: 16px;
}


.footer-container{
  margin-top: 120px;
  background-color: rgb(20, 20, 64);
  height: 348px;
}

.footer-items{
  max-width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-between;
padding-top: 120px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-img {
  width: 139px;
  height: 60px;
}

.social-media1 {
  color: white;
  font-size: 20px;
}

.social-media2{
  color: white;
  margin-top: 10px;
}

.footer-container .hr{
  width: 82%;
}

.endnote {
  color: white;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding-top:30px ;
}