* {
  margin: 0;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
  width: 71%;
  max-width: 1600px;
  margin: 16px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  width: 365px;
  color: black;
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0 auto;
  font-weight: 500;
  
} 

/*early acess*/
.btn0 {
  color: white;
  font-size: 16px;
  width: 204px;
  background-color: #30B868;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  
}


/*early acess*/
.btn1 {
  color: #0e7037;
  font-size: 16px;
  width: 229px;
  height: 35px;
  padding: 8px 12px;
  border-radius: 25px;  
  border: none;
  margin: 120px 0 auto;
  
}

.btn2 {
  color: white;
  background-color: #30B868;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
}

.btn3 {
  color: white;
  background-color:transparent;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid white;
}



#banner .banner-content {
 height: 674px;
 margin: 0 , 0, auto;
 align-items: center;
 text-align: center;
 background-color: antiquewhite;
 background-image: url(../assets/hero-bg.png);
 background-size:auto;

}

#banner .note1 {
  color: white  ;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
}

#banner .note2 {
  color: rgb(53, 166, 53)  ;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;

}

#banner .details {
  color: white;
  margin: 16px 0 32px;
}



#note .note-container {
  background-color: aquamarine;
  width: 85%;
  justify-content: center;
  margin: 0 auto;
}

#note .note-headline h1{
  color: black;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
  margin-bottom: auto;
}

#note .note-headline p{
  color:grey;
  font-size: 16px;
  text-align: center;
  margin-top: auto;
}

#note .note-box {
  color:red;
  display: flex;
  margin: 0 auto;
  justify-content:center;
  gap: 24px;
}

.box-item {
  width: 300px;
  border: 1px solid black;
  gap: 24px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(246, 86, 86);
  margin: 69px 131px;
}