* {
  margin: 0;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
  width: 71%;
  max-width: 1600px;
  margin: 16px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

}

.menu {
  width: 365px;
  color: black;
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0 auto;
  font-weight: 500;
  
} 

button {
  width: 204px;
  background-color: #30B868;
  padding: 12px 16px;

  border-radius: 5px;
  border: none;
  color: white;
}